title = "LibrePCB"
baseURL = "https://librepcb.org/"
languageCode = "en-us"
enableRobotsTXT = true

# We need all URLs to be relative to make sure the previews hosted at
# https://librepcb.org/_branches/ are working properly.
relativeURLs = true

# So far we don't use tags and categories, so let's disable it for now.
[taxonomies]

# Configure modules manually to ignore Python files.
[module]
  [[module.mounts]]
    excludeFiles = ['**.py', '**.py.lock']
    source = 'content'
    target = 'content'

# Disable RSS output globally (will be enabled only for the blog).
[outputs]
home = ['HTML']
page = ['HTML']
section = ['HTML']
taxonomy = ['HTML']
term = ['HTML']

# Get asciidoctor working.
[security.exec]
allow = ["^dart-sass-embedded$", "^go$", "^npx$", "^postcss$", "^asciidoctor$"]
osEnv = ['(?i)^((HTTPS?|NO)_PROXY|PATH(EXT)?|APPDATA|TE?MP|TERM|RUBYLIB)$']

# Configure asciidoctor.
[markup.asciidocExt]
failureLevel = "warn"
verbose = true

[markup.asciidocExt.attributes]
icons = "font"
source-highlighter = "pygments"
pygments-style = "monokai"
docinfo = "shared"
sectanchors = true
toc = true

# Configure YouTube shortcode.
[privacy.youtube]
privacyEnhanced = true

# Custom parameters.
[params]
  titleSuffix = " | LibrePCB"
  siteDescription = "A free, easy-to-use, multiplatform EDA software to draw schematics and design PCBs"
  latestVersion = "2.0.0"
  latestPreviewVersion = ""  # Set to empty string if stable.
  latestPreviewBlogPost = ""  # Set to empty string if stable.
  numberOfTranslations = "15"
