img {
    max-width: 100%;
    height: auto;
}

ul {
    padding-left: 1em;
}

/* Headings */

h1, h2, h3, h4, h5 {
    margin-top: 0;
    margin-bottom: 0;
}

h3, h4 {
    margin-bottom: 1em;
}

p + h3, p + h4, ul + h3, ul + h4 {
    margin-top: 1em;
}
