/* Global Styles */

html,
body {
    height: 100%;
    width: 100%;
    letter-spacing: 0.5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabin', "Helvetica Neue", "Helvetica", sans-serif;
}

body {

    font-family: 'Arbutus Slab', "Helvetica Neue", "Helvetica", sans-serif !important;
    line-height: 1.6;
}

.vert-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

img[src*='#right'] {
    float: right;
}

img[src*='#left'] {
    float: left;
}


/* Full Page Image Header Area */

.header .topBlockTitle {
  font-family: 'Arial', sans-serif;
  font-size: 10.0em;
  font-weight: bold;
  color: rgb(255, 252, 244);
  line-height: 1.0;
  margin-top: 0.1em;
}

@media all and (max-width: 800px) {
    .header .topBlockTitle {
        font-size: 18vw;
    }
}

.header .topBlockDescription {
  font-family: 'Arial', sans-serif;
  font-size: 1.8em;
  color: rgb(255, 252, 244);
  line-height: 1.5;
}

@media all and (max-width: 450px) {
    .header .topBlockDescription {
        display: none;
    }
}

.header {
    display: table;
    height: 60%;
    width: 100%;
    min-height: 60%;
    position: relative;
    background-image: url(../img/background.jpg); /* fallback for older browsers */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.3) 100%), url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 99999;
    background-color: black;
}

.logo {
    min-width: 150px;
    max-width: 250px;
    width: 25vw;
    padding: 1em;
}

.buttonbox {
    margin: 1em 0 1em;
}

.blogHeader {
    display: table;
    height: 30%;
    width: 100%;
    min-height: 30%;
    position: relative;
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 99999;
    background-color: black;
}

.blogHeader .blogTitle {
  font-family: 'Arial', sans-serif;
  font-size: 8.0em;
  font-weight: bold;
  color: rgb(255, 252, 244);
  line-height: 1.0;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 1024px)
and (orientation : portrait)
{
    .header {
        display: table;
        height: 70%;
        width: 100%;
        position: relative;
        background: url(../img/background.jpg) no-repeat;
        background-size: 100% 100%;
        z-index: 99999;
        background-color: black;
    }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .header {
        display: table;
        height: 70%;
        width: 100%;
        position: relative;
        background: url(../img/background.jpg) no-repeat;
        background-size: 100% 100%;
        z-index: 99999;
        background-color: black;
    }
}

.header .btn {
    margin: 10px;
}

#main {
    z-index: 99999;
    position: relative;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.header .btn {
    font-weight: 100;
}

/* Intro */

.counterpoint {
    padding: 50px 0;
    background-color: rgb(255, 252, 244);
}

.point {
    background: rgb(41, 214, 130);
    padding: 50px 0;
    color: #ffffff;
}

.point h2, .counterpoint h2 {
    font-size: 32pt;
    line-height: 1.7;
}

i.callout-icon, i.point-icon, i.lead-icon {
    border-radius: 50%;
    display: inline-block;
    font-size: 56px;
    width: 140px;
    height: 140px;
    line-height: 136px;
    vertical-align: middle;
    text-align: center;
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

i.lead-icon {
    border: 3px solid #222;
}

i.point-icon, i.callout-icon {
    border: 3px solid #ffffff;
}

i.lead-icon:hover {
    color: #fff;
    border: 3px solid black;
    background: black;
}

i.point-icon:hover {
    color: rgb(22, 203, 230);
    border: 3px solid #fff;
    background: #fff;
}

a:hover {
    color: rgb(52, 73, 94);
}



.icon-2x {
    font-size: 200%;
}

/* Callout */

.callout {
    color: #ffffff;
    display: table;
    height: 420px;
    width: 100%;
    background-color: rgb(118,156,172);
    padding: 50px 0;
    color: #ffffff;
}

i.callout-icon:hover {
    color: rgb(249, 176, 190);
    border: 3px solid #fff;
    background: #fff;
}


/* Call to Action */

.call-to-action {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.19);
    padding: 50px 0;

}

#action {
    background: url(../img/gray.png);
    padding: 30px 0px 40px;
    width: 100%;
}
#action pre {
    background-color: #545454;
    color: #f9f2f4;
}
#action pre:hover {
    background-color: #f9f2f4;
    color: #545454;
}
#action code {
    font-family: Lato, monospace;
    font-size: 14pt;
}

#footer {
    font-size: 14px;
    padding: 50px 0px 25px 0px;
    background: rgb(255, 255, 255);
}

.call-to-action .btn {
    margin: 10px;
}

/* Footer */

footer {
    padding: 100px 0;
}

footer a {
    color: black;
}

footer a:hover {
    text-decoration: none;
}

.point a, .counterpoint a {
    color: rgb(7,162,166);
}

/* Bootstrap Addons */

.btn-home {
    color:black;
    background-color: rgb(41, 214, 130);
    border-color: black;
}

.btn-home:hover,
.btn-home:focus,
.btn-home:active {
    color: black;
    background-color: aliceblue;
    border-color: black;
}

.btn-blog {
    color:white;
    background-color: rgb(120, 120, 250);
    border-color: black;
}

.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active {
    color: black;
    background-color: aliceblue;
    border-color: black;
}

.btn-download {
    color:black;
    background-color: rgb(41, 214, 255);
    border-color: black;
}

.btn-download:hover,
.btn-download:focus,
.btn-download:active {
    color: black;
    background-color: aliceblue;
    border-color: black;
}

.btn-docs {
    color:black;
    background-color: yellow;
    border-color: black;
}
.btn-docs:hover,
.btn-docs:focus,
.btn-docs:active {
    color: black;
    background-color: aliceblue;
    border-color: black;
}

.btn-dark {
    color:white;
    background-color: rgba(30,30,30, 0.8);
    border-color: black;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: black;
    background-color: aliceblue;
    border-color: black;
}

.btn-info:hover, .btn-primary:hover, .btn-success:hover {
    background: aliceblue;
}

.btn-donate {
    color:black;
    background-color: orange;
    border-color: black;
}

.btn-donate:hover,
.btn-donate:focus,
.btn-donate:active {
    color: black;
    background-color: aliceblue;
    border-color: black;
}

.btn-patreon {
    color: white;
    background-color: #e6461a;
    border-color: black;
}

.btn-patreon:hover,
.btn-patreon:focus,
.btn-patreon:active {
    color: #e6461a;
    background-color: aliceblue;
    border-color: black;
}

.owl-carousel blockquote {
    border-left: 0px;
}

.owl-carousel a {
    color: #243382;
}

.owl-carousel blockquote p {
    font-size: 20pt;
}
