{{ define "nav" }}
<nav class="mt-3 text-end d-none d-md-block">
  <ul>
{{ range $index, $post := where .Data.Pages.ByDate.Reverse "Section" "blog" }}
    <li class="list-group-item text-truncate">
      <a href="#{{ .File.ContentBaseName | safeHTMLAttr }}"
         class="small text-muted link-dark">
        {{ .Title }}
      </a>
    </li>
{{ end }}
  </ul>
</nav>
{{ end }}

{{ define "main" }}
{{ range $index, $post := where .Data.Pages.ByDate.Reverse "Section" "blog" }}
<div class="d-flex flex-wrap-reverse align-items-center">
  <h1 class="pe-2 me-auto">
    <span class="hidden-anchor" id="{{ .File.ContentBaseName | safeHTMLAttr }}"></span>
    <a href="{{ .RelPermalink }}" class="link-dark">{{ .Title }}</a>
  </h1>
{{ if eq $index 0 }}
  <a href="/blog/index.xml" title="RSS Feed"
     class="text-muted link-dark text-decoration-none">
    <i class="fa-solid fa-rss"></i>
    <span class="d-none d-md-inline">Subscribe</span>
  </a>
{{ end }}
</div>
{{ if lt $index 8 }}
<div class="d-flex align-items-center mb-3">
  <img src="/img/me.jpg" class="rounded-circle" alt=""/>
  <div class="vr mx-2 text-muted"></div>
  <p class="text-muted fst-italic my-0">
    <a href="https://github.com/ubruhin">@ubruhin</a>
    <br/>
    {{ .Date.Local | time.Format ":date_long" }}
  </p>
</div>
<div class="content">
{{ if lt $index 3 }}
  {{ .Content }}
{{ else }}
  {{ .Summary }}
  <a href="{{ .RelPermalink }}">Read more...</a>
{{ end }}
</div>
<div style="clear:both;"></div><!-- Avoid overlap of floating images into the next blog post -->
<hr/>
{{ else }}
<p class="text-muted">{{ .Date.Local | time.Format ":date_long" }}</p>
{{ end }}
{{ end }}
{{ end }}
