{{ partial "header.html" . }}
{{ partial "blog-top-block.html" . }}

<div id="main">
    <div id="intro" class="counterpoint">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h2>{{ .Title }}</h2>
            <p><i>{{ .Date.Local | time.Format ":date_long" }}</i></p>
            <p class="lead">
              {{ .Content }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

{{ partial "blog-footer.html" . }}
