{{ define "head" }}
{{ end }}

{{ define "nav" }}
{{ if .Param "latestPreviewVersion" }}
{{ $preview_url := printf "https://download.librepcb.org/releases/%s" (.Param "latestPreviewVersion") }}
{{ $windows_file := printf "librepcb-%s-windows-x86.zip" (.Param "latestPreviewVersion") }}
{{ $macos_file := printf "librepcb-%s-mac-x86_64.dmg" (.Param "latestPreviewVersion") }}
{{ $linux_file := printf "librepcb-%s-linux-x86_64.AppImage" (.Param "latestPreviewVersion") }}
{{ $source_file := printf "librepcb-%s-source.zip" (.Param "latestPreviewVersion") }}
<div class="mt-3 pb-0 alert alert-success d-block mx-4 mx-md-0">
  <h5 class="alert-heading">
    <i class="fa-solid fa-angle-right"></i>
    Preview {{ .Param "latestPreviewVersion"}} available!
  </h5>
  <p>
    If you like to try the latest preview version, download it as a portable
    package or build the sources from the Git tag
    <code>{{ .Param "latestPreviewVersion" }}</code>:
  </p>
  <p>
    <li class="list-group-item text-truncate">
      <i class="fa-brands fa-windows"></i>
      <a href="{{ printf "%s/%s" $preview_url $windows_file }}"
          class="small link-dark">
        {{ $windows_file }}
      </a>
    </li>
    <li class="list-group-item text-truncate">
      <i class="fa-brands fa-apple"></i>
      <a href="{{ printf "%s/%s" $preview_url $macos_file }}"
          class="small link-dark">
        {{ $macos_file }}
      </a>
    </li>
    <li class="list-group-item text-truncate">
      <i class="fa-brands fa-linux"></i>
      <a href="{{ printf "%s/%s" $preview_url $linux_file }}"
          class="small link-dark">
        {{ $linux_file }}
      </a>
    </li>
    <li class="list-group-item text-truncate">
      <i class="fa-solid fa-code"></i>
      <a href="{{ printf "%s/%s" $preview_url $source_file }}"
          class="small link-dark">
        {{ $source_file }}
      </a>
    </li>
  </p>
  <p>
    Note that we recommend to create a backup of your projects before opening
    them with this preview version. For details, check out the release notes
    <a href="{{ relref . (.Param "latestPreviewBlogPost") }}">here</a>.
  </p>
  <p>
    And please <a href="{{ relref . "help/help/index.adoc" }}">let us know
    your feedback</a>!
  </p>
  <hr/>
  <p class="d-inline-flex gap-1">
    <a data-bs-toggle="collapse" href="#knownIssues" aria-expanded="false"
       aria-controls="knownIssues" class="link-dark">
      <i class="fa-solid fa-caret-down"></i>
      Known issues
    </a>
  </p>
  <div class="collapse text-dark small" id="knownIssues">
    <ul>
      <li>Possible laggy board editor on large designs</li>
      <li>Compile error on some ARM targets</li>
    </ul>
  </div>
</div>
{{ end }}
{{ end }}
