{{ define "body" }}
<div class="body-container w-100">
  <div class="intro d-flex flex-column text-light text-center">
{{ with index (where .Site.Pages.ByDate.Reverse "Section" "blog") 0 }}
    <div class="container alert alert-dark mt-3 w-auto p-2">
      <i class="fa-solid fa-message"></i>
      {{ .Date.Local | time.Format ":date_long" }}: <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </div>
{{ end }}
    <div class="position-absolute end-0 m-3 d-none d-lg-block">
      <i class="fa-solid fa-poll align-middle"></i>
      <a class="link-light small align-middle" href="https://show.forms.app/librepcb/feedback">User feedback survey</a>
    </div>
    <div class="d-flex flex-column justify-content-evenly text-center flex-fill">
      <div class="intro-header d-flex justify-content-center align-items-center my-2">
        <img class="intro-logo" src="./img/librepcb.png" alt=""/>
        <div class="justify-content-center text-center text-nowrap ms-3 ms-lg-5">
          <div class="intro-title">LibrePCB</div>
          <div class="intro-subtitle">Create electronics the easy way.</div>
        </div>
      </div>
      <div class="container-fluid mt-3 mb-5">
        <div class="row justify-content-center text-center">
          <div class="intro-description col-11 p-4 align-self-start rounded-5 shadow-lg">
            <p>
              LibrePCB is a free, cross-platform, easy-to-use electronic
              design automation suite to draw schematics and design printed
              circuit boards – for makers, students and professionals, from
              beginners to experts.
            </p>
            <p>
              This software just lets you develop electronics the right
              way.
              <br class="d-none d-md-inline-block">
              No costs. No restrictions. No online account.
              No unnecessary complexity.
            </p>
            <div class="d-flex justify-content-center flex-column flex-md-row">
              <div class="p-2">
                <a class="btn btn-primary btn-lg text-nowrap w-100" role="button"
                   href="{{ relref . "download/index.adoc" }}">
                  <i class="fa-solid fa-download"></i>
                  Download
                  <span class="badge bg-secondary">
                    v{{ .Site.Params.Get "latestVersion" }}
                  </span>
                </a>
              </div>
              <div class="p-2">
                <a class="btn btn-warning btn-lg text-nowrap w-100" role="button"
                   href="https://librepcb.org/docs/quickstart/">
                  <i class="fa-solid fa-book"></i>
                  Get Started
                </a>
              </div>
              <div class="p-2">
                <a class="btn btn-danger btn-lg text-nowrap w-100" role="button"
                   href="{{ relref . "contribute/donate/index.adoc" }}">
                  <i class="fa-solid fa-heart"></i>
                  Support
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="intro-features container-fluid">
    <div class="container">
      <div class="row align-items-center row-cols-1 row-cols-xl-2 justify-content-center">
{{ range $index, $page := where .Site.Pages "Section" "home" }}
{{ if .Content }}
        <div class="col position-relative">
          <div class="row align-items-center">
            <div class="col-auto d-none d-sm-block">
              <span class="fa-stack fa-3x">
{{ if .Param "iconIsRound" }}
                <i class="{{ .Param "icon" }} fa-stack-2x"></i>
{{ else }}
                <i class="fa-solid fa-circle fa-stack-2x"></i>
                <i class="{{ .Param "icon" }} fa-stack-1x fa-inverse"></i>
{{ end }}
              </span>
            </div>
            <div class="col">
              <h1 class="fw-light">{{ .Title }}</h1>
              <div class="intro-feature-description">
                {{ .Content }}
              </div>
            </div>
          </div>
        </div>
{{ end }}
{{ end }}
      </div>
    </div>
  </div>

  <div class="intro-screenshot intro-screenshot-odd container-fluid text-center">
    <div class="container d-flex align-items-center justify-content-center py-3">
      <div class="container-fluid intro-video shadow-lg p-0 m-0">
        <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
          <iframe src="https://www.youtube-nocookie.com/embed/Nx0bYLi30O0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen title="YouTube Video"></iframe>
        </div>
      </div>
    </div>
    <p>
      <a class="btn btn-primary" role="button"
         href="https://www.youtube.com/@LibrePCB">
        See more videos
      </a>
    </p>
  </div>

  <div class="intro-screenshot container-fluid text-center">
    <div class="container">
      <h1>Schematic Editor</h1>
      <p>
        <img src="schematic-editor.gif" alt="Schematic editor"
             class="intro-screenshot shadow-lg">
      </p>
      <p>
        <a class="btn btn-primary" role="button"
           href="{{ relref . "features/schematic-editor/index.adoc" }}">
          Learn more
        </a>
      </p>
    </div>
  </div>

  <div class="intro-screenshot intro-screenshot-odd container-fluid text-center">
    <div class="container">
      <h1>Board Editor</h1>
      <p>
        <img src="board-editor.gif" alt="Board editor"
             class="intro-screenshot shadow-lg">
      </p>
      <p>
        <a class="btn btn-primary" role="button"
           href="{{ relref . "features/board-editor/index.adoc" }}">
          Learn more
        </a>
      </p>
    </div>
  </div>

  <div class="intro-screenshot container-fluid text-center">
    <div class="container">
      <h1>Library Management</h1>
      <p>
        <img src="library-management.gif" alt="Library management"
             class="intro-screenshot shadow-lg">
      </p>
      <p>
        <a class="btn btn-primary" role="button"
           href="{{ relref . "features/library-management/index.adoc" }}">
          Learn more
        </a>
      </p>
    </div>
  </div>

  <div class="intro-sponsors d-flex container-fluid text-center">
    <div class="container-fluid">
      <h1>Sponsors</h1>
      <div class="d-flex align-items-center justify-content-center flex-column flex-md-row">
        <a href="https://nlnet.nl/project/LibrePCB/" class="m-3">
          <img src="./img/nlnet-monochrome.png" alt="nlnet.nl"
               style="height:40px; width:auto; object-fit:contain;">
        </a>
        <a href="https://aisler.net/" class="m-3">
          <img src="./img/sponsor-aisler.png" alt="aisler.net"
               style="height:38px; width:auto; object-fit:contain;">
        </a>
        <a href="https://partsbox.com/" class="m-3">
          <img src="./img/sponsor-partsbox-light.svg" alt="partsbox.com"
               style="height:35px; width:auto; object-fit:contain;">
        </a>
        <a href="https://www.nextpcb.com" class="m-3">
          <img src="./img/sponsor-nextpcb.png" alt="www.nextpcb.com"
               style="height:35px; width:auto; object-fit:contain;">
        </a>
        <a href="https://www.7pcb.com" class="m-3">
          <img src="./img/sponsor-bittele-light.png" alt="www.7pcb.com"
               style="height:40px; width:auto; object-fit:contain;">
        </a>
        <a href="https://www.win-source.net/" class="m-3">
          <img src="./img/sponsor-winsource.png" alt="win-source.net"
               style="height:35px; width:auto; object-fit:contain;">
        </a>
        <a href="https://www.pcbway.com" class="m-3">
          <img src="./img/sponsor-pcbway.png" alt="www.pcbway.com"
               style="height:35px; width:auto; object-fit:contain;">
        </a>
        <a href="https://www.cloudscale.ch/" class="m-3 pb-1">
          <img src="./img/sponsor-cloudscale.png" alt="cloudscale.ch"
               style="height:25px; width:auto; object-fit:contain;">
        </a>
      </div>
      <div class="container mt-3">
        ...and all our <i class="fa-solid fa-heart"></i> sponsors on
        <a href="https://www.patreon.com/librepcb" class="link-light">Patreon</a>,
        <a href="https://github.com/sponsors/ubruhin" class="link-light">GitHub Sponsors</a>
        <a href="{{ relref . "sponsors/sponsors/index.adoc" }}" class="link-light">and more!</a>
      </div>
    </div>
  </div>
</div>
{{ end }}
