<!-- Footer -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <a href="https://github.com/LibrePCB/LibrePCB" class="icon-octocat icon-2x"></a>
        <p><em><small>
          Unless otherwise stated, text and images on this site are licensed
          under the
          <a href="https://creativecommons.org/licenses/by/3.0/">
            Creative Commons Attribution License 3.0
          </a> or later. This does not include any source code, libraries,
          documentation, and third party tools or products mentioned on this
          site.
        </small></em></p>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer -->

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<!--<script src="/js/bootstrap.min.js"></script>-->
<script>
$(function() {
$('a[href*=#]:not([href=#])').click(function() {
  if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
      || location.hostname == this.hostname) {

    var target = $(this.hash);
    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
    if (target.length) {
      $('html,body').animate({
        scrollTop: target.offset().top
      }, 1000);
      return false;
    }
  }
});
});
</script>

</body>

</html>
