<!-- Full Page Image Header Area -->
<div id="top" class="header">
  <div class="vert-text">
    <div class="topBlockTitle">{{ .Site.Params.topBlockTitle }}</div>
    <div class="topBlockDescription">{{ .Site.Params.topBlockDescription }}</div>
    <a href="#intro"><img src="{{ .Site.Params.mainIcon }}" class="logo"></a>
    <div class="buttonbox">
      <a href="/" class="btn btn-home btn-lg">Home</i></a>
      <a href="/blog" class="btn btn-blog btn-lg">Blog</i></a>
      <a href="/download" class="btn btn-download btn-lg">Download</i></a>
      <a href="/compare" class="btn btn-compare btn-lg">Compare</i></a>
      <a href="https://docs.librepcb.org" class="btn btn-docs btn-lg">Docs</i></a>
      <a href="https://github.com/LibrePCB/LibrePCB" class="btn btn-dark btn-lg">GitHub <i class="icon-octocat"></i></a>
      <a href="/donate" class="btn btn-donate btn-lg">Donate</a>
    </div>
  </div>
</div>
<!-- /Full Page Image Header Area -->
