<!-- Full Page Image Header Area -->
<div id="top" class="header">
  <div class="vert-text">
    <div class="topBlockTitle">{{ .Site.Params.topBlockTitle }}</div>
    <!--<div class="topBlockDescription">{{ .Site.Params.topBlockDescription }}</div>-->
    <a href="#intro"><img src="{{ .Site.Params.mainIcon }}" class="logo"></a>
    <div class="buttonbox">
      <a href="https://github.com/LibrePCB/LibrePCB" class="btn btn-dark btn-lg">GitHub <i class="icon-circlestar"></i></a>
    </div>
  </div>
</div>
<!-- /Full Page Image Header Area -->
