{{ $img := $.Page.Resources.GetMatch (.Get 1) }}

{{ $link := $img.RelPermalink }}
{{ if .Get 2 }}
{{ $file := $.Page.Resources.GetMatch (.Get 2) }}
{{ if $file }}
{{ $link = $file.RelPermalink }}
{{ else }}
{{ $link = .Get 2 }}
{{ end }}
{{ end }}

{{ $width := .Get 3 }}

{{ $description := .Get 4 }}

<p>
  <a href="{{ $link | safeHTMLAttr }}">
    <img src="{{ $img.RelPermalink | safeHTMLAttr }}"
         alt="{{ .Get 0 | safeHTMLAttr }}" {{ if $width }} width="{{ $width }}"{{ end }} />
  </a>
{{- if $description -}}
    <div class="small fst-italic">{{ $description }}</div>
{{- end -}}
</p>
