<div class="row">
  <div class="container col-md-3">
    <p>
      <a href="https://aisler.net/">
        <img src="./img/sponsor_aisler.png" alt="aisler.net"
             style="height:45px;">
      </a>
    </p>
  </div>
  <div class="container col-md-6">
    <p>
      <a href="https://www.cloudscale.ch/">
        <img src="./img/sponsor_cloudscale.png" alt="cloudscale.ch"
             style="height:40px;">
      </a>
    </p>
  </div>
  <div class="container col-md-3">
    <p>
      <a href="https://www.pcbway.com">
        <img src="./img/sponsor_pcbway.png" alt="www.pcbway.com"
             style="height:40px;">
      </a>
    </p>
  </div>
</div>
